/* .ant-tabs-nav {
    background: #022946;
    color: white;
    position: absolute;
    right: 100px;
    width:calc(100% + 200px)
}

.ant-tabs-tab-active {
    color: aqua ;
} */

@font-face {
    font-family: 'Antebas';
    src: url('/antebas-bold.otf');
  }
html{
    width: 100%;
}
  