@font-face {
  font-family: 'Antebas';
  src: url('/antebas-bold.otf');
}

@font-face {
  font-family: 'Int';
  src: url('/Inter.ttf');
}


body {
  margin: 0px;
  font-family:'Int';
  /* padding-top:60px; */
}

.message{
  display: flex;
  justify-content: end;
  position:relative;
  top:60px;
  /* border: 1px solid red; */
}